body {
    width: 100%;
    height: 100%;
    background-color: #212121;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.bar_nav {
    width: 95%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
}

.logo {
    width: 20%;
    display: flex;
}

.img_logo {
    width: 90%;
    display: flex;
}

.nav {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.panier1 {
    width: 45%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.panier1 .text {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 10%;
}

.panier1 .text .p1 {
    font-size: 25rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.panier1 .text .p2 {
    font-size: 15rem;
    font-family: Arial, Helvetica, sans-serif;
}

.icon-panier {
    width: 80%;
    display: flex;
}

.profil {
    width: 45%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.profil .text {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;margin-right: 10%;
}

.profil .text .p1 {
    font-size: 25rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.profil .text .p2 {
    font-size: 15rem;
    height: 30%;
    font-family: Arial, Helvetica, sans-serif;
}

.icon-profil {
    height: 80%;
    display: flex;
}

.titre {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #ffffff;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}

.box_boutique {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.item {
    width: 20%;
    height: 40%;
    background-color: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
}

.image {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}

.velo_decath {
    width: 100%;
    display: flex;
    border-radius: 5%;
}

.description {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
}

.text {
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.text p1 {
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

.text p2 {
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

.text p3 {
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    background-color: orange;
    width: 40%;
}

.bouton_panier {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-end;
}

.bouton_panier .panier2 {
    width: 40%;
    display: flex;
}