<!DOCTYPE html>
<html lang="fr">

<head>
    <link rel="shortcut icon" href="img/porte folio logo.png" type="img">
    <meta charset="UTF-8" />

    <link rel="stylesheet" href="style1.css">
    <script src="JS/main.js"></script>

    <meta name="viewport" content="width-device, inital-scale=" 1.0 />
    <title>accueil Dicathlon</title>
</head>

<body>
    <div class="boutique">
        <div class="burger">

        </div>
        <div class="titre">

        </div>
        <div class="produit">

        </div>
    </div>
</body>
</html>